body{
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
}
.title{
  font-size: 2.7rem;
  font-weight: bolder;
  text-align: center;
}
.container{
  max-width: 1200px;
  margin:auto;
}
.paginador{
  display: grid;
  grid-template-columns: repeat(3,1fr);
}
#anterior{
  color: aqua;
}
  #anterior:disabled{
    color: darkgray;
  }
.grid{
  display: grid;
  grid-template-columns: repeat(4,1fr);
  gap: 1rem;
}